# ── Keycloak ─────────────────────────
KEYCLOAK_ADMIN=admin
KEYCLOAK_ADMIN_PASSWORD=admin
KEYCLOAK_DB_PASSWORD=keycloak

# ── API Gateway ──────────────────────
KEYCLOAK_ISSUER_URI=http://localhost:9090/realms/finflow
KEYCLOAK_JWKS_URI=http://localhost:9090/realms/finflow/protocol/openid-connect/certs
REDIS_HOST=localhost
REDIS_PORT=6379

# ── Account Service ──────────────────
ACCOUNT_DB_URL=jdbc:postgresql://localhost:5432/account_db
ACCOUNT_DB_USERNAME=finflow
ACCOUNT_DB_PASSWORD=finflow

# ── Transaction Service ──────────────
TRANSACTION_DB_URL=jdbc:postgresql://localhost:5432/transaction_db
TRANSACTION_DB_USERNAME=finflow
TRANSACTION_DB_PASSWORD=finflow
FRAUD_SERVICE_HOST=localhost
FRAUD_SERVICE_GRPC_PORT=9001

# ── Payment Service ──────────────────
PAYMENT_DB_URL=jdbc:postgresql://localhost:5432/payment_db
PAYMENT_DB_USERNAME=finflow
PAYMENT_DB_PASSWORD=finflow

# ── Saga Orchestrator ─────────────────
SAGA_DB_URL=jdbc:postgresql://localhost:5432/saga_db
SAGA_DB_USERNAME=finflow
SAGA_DB_PASSWORD=finflow

# ── Fraud Detection ───────────────────
FRAUD_DB_URL=jdbc:postgresql://localhost:5432/fraud_db
FRAUD_DB_USERNAME=finflow
FRAUD_DB_PASSWORD=finflow

# ── Notification Service ──────────────
NOTIFICATION_DB_URL=jdbc:postgresql://localhost:5432/notification_db
NOTIFICATION_DB_USERNAME=finflow
NOTIFICATION_DB_PASSWORD=finflow

# ── Analytics Service ─────────────────
ANALYTICS_DB_URL=jdbc:postgresql://localhost:5432/analytics_db
ANALYTICS_DB_USERNAME=finflow
ANALYTICS_DB_PASSWORD=finflow

# ── Report Service ────────────────────
REPORT_DB_URL=jdbc:postgresql://localhost:5432/report_db
REPORT_DB_USERNAME=finflow
REPORT_DB_PASSWORD=finflow
AWS_S3_BUCKET_NAME=finflow-reports
AWS_REGION=us-east-1
AWS_ACCESS_KEY_ID=your-access-key
AWS_SECRET_ACCESS_KEY=your-secret-key

# ── Kafka ─────────────────────────────
KAFKA_BOOTSTRAP_SERVERS=localhost:9092

# ── RabbitMQ ──────────────────────────
RABBITMQ_HOST=localhost
RABBITMQ_PORT=5672
RABBITMQ_USERNAME=finflow
RABBITMQ_PASSWORD=finflow
